<html>
<head>
    <title>로그인 / 회원가입 폼 템플릿</title>
    <link rel="stylesheet" href="../Content/Login.css">
</head>
<body>
    <div class="wrap">
        <div class="form-wrap">
            <div class="button-wrap">
                <div id="btn"></div>
                <button type="button" class="togglebtn" onclick="login()">LOGIN</button>
                <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
            </div>
            <form id="login" action="" class="input-group">
                <input type="text" class="input-field" placeholder="ID" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <br>
                <button class="submit">Login</button>
            </form>
            <form id="register" action="" class="input-group">
                <input type="text" class="input-field" placeholder="User Name" required>
                <input type="email" class="input-field" placeholder="ID" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <div id="checkbox">
                <input type="radio" name="who" value="developer"> developer
                <input type="radio" name="who" value="other" checked> other
                </div>
                <button class="submit">REGISTER</button>
            </form>
        </div>
    </div>
    <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");


            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
    </script>
</body>
</html> 