@model AdminTool.Models.AdminUser

<form class="form-horizontal" method="post" asp-controller="Admin" asp-action="Register">
    <div class="form-group">
        <label>계정 아이디</label>
        <input type="text" class="form-control" asp-for="UserID" placeholder="User ID" />
        <span class="text-danger" asp-validation-for="UserID"></span>
    </div>

    <div class="form-group">
        <label>계정 비밀번호</label>
        <input type="password" class="form-control" asp-for="UserPassword" placeholder="User Password" />
        <span class="text-danger" asp-validation-for="UserPassword"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">회원가입</button>
    </div>
</form>