@using Microsoft.AspNetCore.Http
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-md-3 bd-sidebar">
    <ul class="nav">
        @if (Context.Session.GetInt32(((int)AdminConst.Permission.MANAGE).ToString()) == 1)
        {
            <li>운영툴 설정</li>
            @if (Context.Session.GetInt32(((int)AdminConst.Permission.PERMISSION).ToString()) == 1)
            {
                <li><a><span class="glyphicon glyphicon-tower"></span>계정 관리</a></li>
            }
            @if (Context.Session.GetInt32(((int)AdminConst.Permission.ADMINTOOL_LOG).ToString()) == 1)
            {
                <li><a><span class="glyphicon glyphicon-time"></span>운영툴 로그</a></li>
            }
            @if (Context.Session.GetInt32(((int)AdminConst.Permission.ACCOUNT).ToString()) == 1)
            {
                <li><a><span class="glyphicon glyphicon-thumbs-up"></span>권한 관리</a></li>
            }
            <li><div class="nav-divider"></div></li>
        }
        @if (true)
        {
            <li>게임 서비스</li>
            <li><a><span class="glyphicon glyphicon-envelope"></span>메일 개별 전송</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span>메일 전체 전송</a></li>
        }
    </ul>
</div>